@import "tailwindcss";

@theme{
  --color-uno-red: #D72600;
  --color-uno-blue: #0956BF;
  --color-uno-green: #379711;
  --color-uno-yellow: #ECD407;
}

/*Win Message Animation*/
@keyframes bounce-in{
  0%{
    opacity: 0;
    transform: scale(0.3);
  }
  50%{
    transform:scale(1.05);
  }
  70%{
    transform:scale(0.9);
  }
  100%{
    opacity:1;
    transform: scale(1);
  }
}

.animate-bounce-in{
  animation: bounce-in 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}